{# templates/products/product_detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Product Details</h1>
        <h2 class="text-xl font-semibold">{{ product.name }}</h2>
        <h2 class="text-xl font-semibold">{{ product.sku }}</h2>
        <p class="mt-2">{{ product.description }}</p>
        <p class="text-lg font-semibold mt-2">${{ product.price }}</p>

        <p class="mt-2"> <a href="{{ path('get_active_products') }}" class="text-blue-500 hover:underline mt-4 inline-block">  ◀︎ Back to list</a></p>
    </div>
       </div>
{% endblock %}
